@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@{
    string title = Model.Value<string>("languagesTitle");
    var languages = Model.Value<IEnumerable<Umbraco.Cms.Web.Common.PublishedModels.SkillItem>>("languages");
}
<div class="skills portfolio-info-card">
    <h2>@title</h2>
    @if (languages != null && languages.Any())
    {
        foreach (var item in languages)
        {
            <h3>@item.Skill</h3>
            <p>@Html.Raw(item.Value("skillDescription"))</p>
            <div class="progress">
                <div class="progress-bar bg-thirdly" aria-valuenow="@(item.Rating)" aria-valuemin="0" aria-valuemax="100" style="width: @(item.Rating)%;"><span class="sr-only">@(item.Rating)%</span></div>
            </div>
        }
    }
</div>