@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    IPublishedContent? settings = Umbraco.Content(1066);
    var footerBackgroundColor = settings.Value<Umbraco.Cms.Core.PropertyEditors.ValueConverters.ColorPickerValueConverter.PickedColor>("footerBackgroundColor");
    string footerBackgroundColorClass = $"{(footerBackgroundColor != null ? footerBackgroundColor.Label.ToLower() : "")}-bg";
}
@* the fun starts here *@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=2">
    @Html.Partial("WebsiteHeadSection/_SEOPageHead")
    @Html.Partial("WebsiteHeadSection/_Icons")
    @Html.Partial("WebsiteHeadSection/_HeaderScripts")
    @Html.Partial("WebsiteHeadSection/_StyleSheets")
</head>
<body>
    <div id="site">
        <div class="container">
            <div class="header pt-4 pb-4">
                <!-- Header -->
                @Html.Partial("WebsiteHeadSection/_HeaderSection")
                <!--// Header -->
            </div>
            <main>
            </main>
        </div>
    </div>
    <!-- Footer -->
    <footer class="@footerBackgroundColorClass">
        @Html.Partial("WebsiteFooterSection/_FooterSection")
        @Html.Partial("WebsiteFooterSection/_FooterScripts")
    </footer>
    <!--//-->
</body>
</html>
