@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    string metaTitle = string.Empty;
    string metaDescription = string.Empty; 
    string siteName = string.Empty; 
    string canonical = string.Empty;
    string openGraphImage = string.Empty;
    
    <link rel="canonical" href="@canonical" />
    <title>@metaTitle</title>
    <meta name="description" content="@metaDescription">
    <meta property="og:type" content="website">
    <meta property="og:title" content="@metaTitle" />
    <meta property="og:image" content="@openGraphImage" />
    <meta property="og:url" content="@canonical" />
    <meta property="og:description" content="@metaDescription" />
    <meta property="og:site_name" content="@siteName" />
}